.dropdown-item custome-dropdown-link {

    background-color: red !important;
    color: white !important;
}
#section-cards img{
     width: 100%;
    height: 350px;
    object-fit: cover;
}
#autrecombat{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 30px;
}
.h1-cards {
  color: rgb(156, 150, 39);
  text-align: center;
  font-size: clamp(24px, 6vw, 60px);
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
}

.h2-cards {
  background-color: rgba(8, 0, 0, 0.87);
  color: rgb(122, 105, 11);
  text-align: center;
  font-size: clamp(14px, 4vw, 26px);
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
}

#titre1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;

}
#calss-cate{
    text-align: start;
    color: red;
}
@media (max-width: 576px) {
    .h1-cards { font-size: 28px; }
  .h2-cards { font-size: 16px; }

  #section-cards img {
    height: 350px;
  }

  #autrecombat {
    font-size: 1.3rem;
    padding: 8px;
  }

  .h1-cards {
    font-size: 32px;
  }

  .h2-cards {
    font-size: 20px;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.048);
    padding: 5px;
    border-radius: 15px;
  }

  .carousel-caption h1 {
    font-size: 1.4rem;
  }

  .carousel-caption h2 {
    font-size: 1.1rem;
  }

  .carousel-caption h4 {
    font-size: 0.8rem;
  }
  .carousel-inner img{
    height: 450px;
  }
  
}
@media (min-width: 577px) and (max-width: 992px) {
  .h1-cards { font-size: 42px; }
  .h2-cards { font-size: 20px; }
}

/* DESKTOP */
@media (min-width: 993px) {
  .h1-cards { font-size: 60px; }
  .h2-cards { font-size: 26px; }
}
#caritem img{
height: 700px;
}
#hof{
   background-color: black;
   img{
    width: 100%;
   }
}
#main-footer {
    background-color: #c2c2c2;
    color: black;
    padding: 20px;
}
#main-footer h3 {
    text-align: center;
    margin-bottom: 20px;
}
#contact{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
#contact img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s;
    justify-content: space-between;
}
#contact img:hover {
    transform: scale(1.2);
}
#main-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
#main-footer h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    color: rgb(235, 11, 11);
    font-size: 1.2em;
    height: 30px;
    background-color: rgb(250, 247, 247);
    justify-content: space-between;
}
#main-footer h3:hover {
    background-color: rgb(239, 21, 10);
    color: rgb(250, 250, 250);
    border-radius: 10px;
}
#li-cate :hover{
    background-color: red;
    color: white;
    border-radius: 10px;

}
